<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CUSITH_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,162}</string>
                <key>spriteSourceSize</key>
                <string>{120,162}</string>
                <key>textureRect</key>
                <string>{{1,165},{120,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,215}</string>
                <key>spriteSourceSize</key>
                <string>{169,215}</string>
                <key>textureRect</key>
                <string>{{155,346},{169,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,328}</string>
                <key>spriteSourceSize</key>
                <string>{160,328}</string>
                <key>textureRect</key>
                <string>{{623,845},{160,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,163}</string>
                <key>spriteSourceSize</key>
                <string>{118,163}</string>
                <key>textureRect</key>
                <string>{{123,165},{118,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,240}</string>
                <key>spriteSourceSize</key>
                <string>{201,240}</string>
                <key>textureRect</key>
                <string>{{634,346},{201,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,255}</string>
                <key>spriteSourceSize</key>
                <string>{299,255}</string>
                <key>textureRect</key>
                <string>{{204,588},{299,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,163}</string>
                <key>spriteSourceSize</key>
                <string>{120,163}</string>
                <key>textureRect</key>
                <string>{{363,165},{120,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,179}</string>
                <key>spriteSourceSize</key>
                <string>{164,179}</string>
                <key>textureRect</key>
                <string>{{773,165},{164,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,162}</string>
                <key>spriteSourceSize</key>
                <string>{266,162}</string>
                <key>textureRect</key>
                <string>{{513,1},{266,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,161}</string>
                <key>spriteSourceSize</key>
                <string>{120,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,223}</string>
                <key>spriteSourceSize</key>
                <string>{152,223}</string>
                <key>textureRect</key>
                <string>{{326,346},{152,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,280}</string>
                <key>spriteSourceSize</key>
                <string>{215,280}</string>
                <key>textureRect</key>
                <string>{{1,845},{215,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,162}</string>
                <key>spriteSourceSize</key>
                <string>{120,162}</string>
                <key>textureRect</key>
                <string>{{781,1},{120,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,223}</string>
                <key>spriteSourceSize</key>
                <string>{152,223}</string>
                <key>textureRect</key>
                <string>{{480,346},{152,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,282}</string>
                <key>spriteSourceSize</key>
                <string>{186,282}</string>
                <key>textureRect</key>
                <string>{{435,845},{186,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,161}</string>
                <key>spriteSourceSize</key>
                <string>{120,161}</string>
                <key>textureRect</key>
                <string>{{123,1},{120,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,181}</string>
                <key>spriteSourceSize</key>
                <string>{152,181}</string>
                <key>textureRect</key>
                <string>{{1,346},{152,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,280}</string>
                <key>spriteSourceSize</key>
                <string>{215,280}</string>
                <key>textureRect</key>
                <string>{{218,845},{215,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,163}</string>
                <key>spriteSourceSize</key>
                <string>{120,163}</string>
                <key>textureRect</key>
                <string>{{485,165},{120,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,179}</string>
                <key>spriteSourceSize</key>
                <string>{164,179}</string>
                <key>textureRect</key>
                <string>{{607,165},{164,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,162}</string>
                <key>spriteSourceSize</key>
                <string>{266,162}</string>
                <key>textureRect</key>
                <string>{{245,1},{266,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,163}</string>
                <key>spriteSourceSize</key>
                <string>{118,163}</string>
                <key>textureRect</key>
                <string>{{243,165},{118,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,240}</string>
                <key>spriteSourceSize</key>
                <string>{201,240}</string>
                <key>textureRect</key>
                <string>{{1,588},{201,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUSITH_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,255}</string>
                <key>spriteSourceSize</key>
                <string>{299,255}</string>
                <key>textureRect</key>
                <string>{{505,588},{299,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CusithAnim.png</string>
            <key>size</key>
            <string>{938,1174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d27b1c533b0871e5bf3af7f41bcde2f3:d800654527cf164879e658d031f3ce6c:d454559c88953a926f7f7b193346ef67$</string>
            <key>textureFileName</key>
            <string>CusithAnim.png</string>
        </dict>
    </dict>
</plist>
