<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Core.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_Load_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{88,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_Load_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{175,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_Load_Center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{262,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_Load_Corner_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{349,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_Load_Corner_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{436,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_Load_Corner_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{523,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_Load_Corner_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{610,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StoneLoad_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{697,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StoneLoad_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{784,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StoneLoad_LeftBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{871,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tilegrass_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{958,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tilegrass_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{1045,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tilegrass_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{1132,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tilegrass_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{1219,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tilegrass_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{85,96}</string>
                <key>textureRect</key>
                <string>{{1306,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MapTileArea1.png</string>
            <key>size</key>
            <string>{1392,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fcdd03fc8959bc40696553039caaef1:11ec6c07af869c3398fdf59538ffe4bd:9d6e2dbff05199787e78652bd73af33d$</string>
            <key>textureFileName</key>
            <string>MapTileArea1.png</string>
        </dict>
    </dict>
</plist>
