<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SwordElf_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{117,235},{106,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SwordElf_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{114,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,135}</string>
                <key>textureRect</key>
                <string>{{1,235},{114,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SwordElf_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{111,109}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{114,1},{111,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SwordElf_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{106,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{117,112},{106,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SwordElf_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{114,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,135}</string>
                <key>textureRect</key>
                <string>{{1,112},{114,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SwordElf_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{111,109}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SwordElfAnim.png</string>
            <key>size</key>
            <string>{226,357}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96dedeaee08fa68274d39d94196c2517:d75f58592cd510550becdafc0def763f:60aff72c9ae27d3cec7fb2320b15a23f$</string>
            <key>textureFileName</key>
            <string>SwordElfAnim.png</string>
        </dict>
    </dict>
</plist>
