<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ELF_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{1,117},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{349,1},{83,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{83,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{175,117},{83,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{79,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{434,1},{79,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{85,110}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{424,117},{85,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{85,110}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{511,117},{85,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{88,117},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{88,1},{85,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{598,1},{83,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{85,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{175,1},{85,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{83,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{260,117},{83,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{77,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{345,117},{77,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{598,113},{83,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{79,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{515,1},{79,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ELF_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{85,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{262,1},{85,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ELF_Anim.png</string>
            <key>size</key>
            <string>{682,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b2027575bffbd329b3154d57fb23290:c674189b462c5f97abf4f699efb3cb1a:a8c02e4a05a0a5fa39f8fedc2c30b777$</string>
            <key>textureFileName</key>
            <string>ELF_Anim.png</string>
        </dict>
    </dict>
</plist>
