<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WizardElf_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{119,128}</string>
                <key>spriteSourceSize</key>
                <string>{147,150}</string>
                <key>textureRect</key>
                <string>{{133,1},{119,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WizardElf_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{130,135}</string>
                <key>spriteSourceSize</key>
                <string>{152,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WizardElf_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{125,130}</string>
                <key>spriteSourceSize</key>
                <string>{141,156}</string>
                <key>textureRect</key>
                <string>{{1,275},{125,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WizardElf_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{119,128}</string>
                <key>spriteSourceSize</key>
                <string>{147,150}</string>
                <key>textureRect</key>
                <string>{{133,131},{119,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WizardElf_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{130,135}</string>
                <key>spriteSourceSize</key>
                <string>{152,159}</string>
                <key>textureRect</key>
                <string>{{1,138},{130,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WizardElf_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{125,130}</string>
                <key>spriteSourceSize</key>
                <string>{141,156}</string>
                <key>textureRect</key>
                <string>{{128,275},{125,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WizardElfAnim.png</string>
            <key>size</key>
            <string>{254,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:299ac6b7539e9b7e1e2829a93132a7c1:df95ee97021cf5ba36ffd34bf214b422:e968b103b4efb6386263fc746b3075d9$</string>
            <key>textureFileName</key>
            <string>WizardElfAnim.png</string>
        </dict>
    </dict>
</plist>
