<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Caitsith_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,143}</string>
                <key>spriteSourceSize</key>
                <string>{130,143}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,145}</string>
                <key>spriteSourceSize</key>
                <string>{129,145}</string>
                <key>textureRect</key>
                <string>{{133,1},{129,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,144}</string>
                <key>spriteSourceSize</key>
                <string>{129,144}</string>
                <key>textureRect</key>
                <string>{{264,1},{129,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,144}</string>
                <key>spriteSourceSize</key>
                <string>{129,144}</string>
                <key>textureRect</key>
                <string>{{395,1},{129,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,143}</string>
                <key>spriteSourceSize</key>
                <string>{129,143}</string>
                <key>textureRect</key>
                <string>{{526,1},{129,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,143}</string>
                <key>spriteSourceSize</key>
                <string>{129,143}</string>
                <key>textureRect</key>
                <string>{{657,1},{129,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,144}</string>
                <key>spriteSourceSize</key>
                <string>{196,144}</string>
                <key>textureRect</key>
                <string>{{788,1},{196,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,143}</string>
                <key>spriteSourceSize</key>
                <string>{166,143}</string>
                <key>textureRect</key>
                <string>{{1,148},{166,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,144}</string>
                <key>spriteSourceSize</key>
                <string>{239,144}</string>
                <key>textureRect</key>
                <string>{{169,148},{239,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,144}</string>
                <key>spriteSourceSize</key>
                <string>{153,144}</string>
                <key>textureRect</key>
                <string>{{410,148},{153,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,147}</string>
                <key>spriteSourceSize</key>
                <string>{202,147}</string>
                <key>textureRect</key>
                <string>{{565,148},{202,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,145}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{769,148},{198,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,163}</string>
                <key>spriteSourceSize</key>
                <string>{129,163}</string>
                <key>textureRect</key>
                <string>{{1,297},{129,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,183}</string>
                <key>spriteSourceSize</key>
                <string>{129,183}</string>
                <key>textureRect</key>
                <string>{{132,297},{129,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,182}</string>
                <key>spriteSourceSize</key>
                <string>{129,182}</string>
                <key>textureRect</key>
                <string>{{263,297},{129,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,220}</string>
                <key>spriteSourceSize</key>
                <string>{132,220}</string>
                <key>textureRect</key>
                <string>{{394,297},{132,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,211}</string>
                <key>spriteSourceSize</key>
                <string>{129,211}</string>
                <key>textureRect</key>
                <string>{{528,297},{129,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,163}</string>
                <key>spriteSourceSize</key>
                <string>{132,163}</string>
                <key>textureRect</key>
                <string>{{659,297},{132,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Caitsith_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{793,297},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CaitsithAnim.png</string>
            <key>size</key>
            <string>{985,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e53742b2f37edc8cc34603a809e937d8:181add91c99e06e633e6608883dab789:6f796ad37b9d4f113314398e5a9c4379$</string>
            <key>textureFileName</key>
            <string>CaitsithAnim.png</string>
        </dict>
    </dict>
</plist>
